{% if site.twitter11_user %}
<section>
  <a class="twitter-timeline" href="https://twitter.com/{{site.twitter11_user}}" data-tweet-limit="{{site.twitter11_tweet_count}}" data-widget-id="{{site.twitter11_widget_id}}">Tweets de @{{site.twitter11_user}}</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
{% endif %}
